@charset "UTF-8";
:root {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

body {
  color: #f0f0f0;
  background-color: #111111;
  font-size: 1.8rem;
}

.inner-content {
  min-height: 100vh;
  max-width: 124rem;
  margin: auto;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
}
@media (max-width: 64em) {
  .inner-content {
    padding: 2rem 1rem;
  }
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
}
.row__heading {
  margin-bottom: 1rem;
  flex: 0 0 100%;
}
.row__heading + * {
  flex: 0 0 100%;
}
.row__item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.row__item--full {
  flex: 0 0 100%;
  margin-top: 2rem;
}
.row__item--full > .btn {
  flex: 0 0 100%;
}
@media (max-width: 64em) {
  .row__item--full-on-mobile {
    flex: 0 0 100%;
    margin-top: 2rem;
  }
  .row__item--full-on-mobile > .btn {
    flex: 0 0 100%;
  }
}
@media (max-width: 64em) {
  .row__item--half-on-mobile {
    flex: 0 0 calc((100% - 2rem) / 2);
  }
  .row__item--half-on-mobile:first-child {
    margin-right: 2rem;
  }
  .row__item--half-on-mobile > * {
    width: 100%;
  }
}
.row:not(:last-child) {
  margin-bottom: 2rem;
}

.countdown__box {
  flex-wrap: wrap;
}
.countdown__bar {
  height: 3rem;
  line-height: 3rem;
  width: 100%;
  border-radius: 0.5rem;
  background-image: linear-gradient(to right, red 50%, #c4c4c4 50%);
  background-size: 200%;
  background-position: 100%;
}
.countdown__bar--running {
  -webkit-animation-name: fill-bar;
          animation-name: fill-bar;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.countdown__bar--complete {
  background-image: linear-gradient(to right, #007900, #00e700);
}
.countdown__text {
  padding: 2rem;
}

@-webkit-keyframes fill-bar {
  from {
    background-position: 100%;
  }
  to {
    background-position: 0;
  }
}

@keyframes fill-bar {
  from {
    background-position: 100%;
  }
  to {
    background-position: 0;
  }
}
.radio-select {
  order: 1;
  justify-content: flex-start;
}
@media (max-width: 64em) {
  .radio-select {
    order: 0;
  }
}
.radio-select__label {
  margin-left: 1rem;
}
.radio-select__option {
  line-height: 2.7rem;
}
.radio-select__option:not(:last-child) {
  margin-right: 4rem;
}

.current-query {
  flex-grow: 1;
  align-items: center;
}
@media (max-width: 64em) {
  .current-query {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
.current-query__separator::after {
  content: "»";
  display: block;
  opacity: 0.5;
  font-size: 5rem;
}
@media (max-width: 64em) {
  .current-query__separator::after {
    transform: rotate(90deg);
    position: relative;
    left: 0.6rem;
  }
}

.btn {
  font-size: 1.8rem;
  color: dimgray;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  font-size: 85%;
}

select {
  font-size: 1.8rem;
  color: dimgray;
  letter-spacing: 2px;
  padding: 0.5rem 1rem;
  font-size: 85%;
  height: 4rem;
}

.error-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 62rem;
  padding: 2rem;
  background-color: white;
}
@media (max-width: 64em) {
  .error-message {
    padding: 1rem;
  }
}

.hidden {
  visibility: hidden;
}

@media (max-width: 64em) {
  .hide-on-mobile {
    display: none;
  }
}

.color-red {
  color: red;
}
