// Variables

$content-width : 124rem;

$font-size-default : 1.8rem;
$font-size-small : 85%;

$border-radius-standard : .5rem;

$letter-spacing-default : 2px;

$color-text : rgb(105, 105, 105);

$white: rgb(240, 240, 240);
$black: rgb(17, 17, 17);

$red : red;
$green : rgb(0, 121, 0);
$lightgreen : rgb(0, 231, 0);

$lightgray : rgb(196, 196, 196);
$gray: gray;

$spacing-tiny       : .5rem;
$spacing-small      :  1rem;
$spacing-standard   :  2rem;
 
$spacing-big       :  4rem;

// Mixins

@mixin standard-typography {
    font-size: $font-size-default;
    color: $color-text;
    letter-spacing: $letter-spacing-default;
}

// Defaults

:root {
    font-size: 62.5%;
}

* ,
*::after ,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


body {
    box-sizing: border-box;
}

body {
    color: $white;
    font-size: $font-size-default;
}

// Media Queries

@mixin resp($breakpoint) {

    @if $breakpoint == phone {
        @media (max-width: 37.5em) {    // 600px
            @content
        };
    }

    @if $breakpoint == tablet {
        @media (max-width: 64em) {    // 1024px
            @content
        };
    }

    @if $breakpoint == desktop {
        @media (max-width: 75em) {    // 1200px
            @content
        };
    }
}