select {
    @include standard-typography;
    padding: $spacing-tiny $spacing-small;
    font-size:$font-size-small;
    height: 4rem;
}

.btn {
    @include standard-typography;
    padding: $spacing-small $spacing-standard;
    font-size:$font-size-small;
}

.radio-select {
    
    order: 1;
    justify-content: flex-start;

    @include resp(tablet) {
        order: 0;
    }

    &__label {
        margin-left: $spacing-small;
    }
    
    &__option {
        line-height: 1.5 * $font-size-default;

        &:not(:last-child) {
            margin-right: $spacing-big;
        }
    }

}

.countdown {

    &__box {
        flex-wrap: wrap;
    }

    &__bar {

        height: 3rem;
        line-height: 3rem;
        width: 100%;
        
        border-radius: $border-radius-standard;
        
        background-image: linear-gradient(to right , $gray 50%, $lightgray 50%);;
        background-size: 200%;
        background-position: 100%;

        &--running {
            animation-name: fill-bar;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
        }

        &--complete {
            background-image: linear-gradient(to right, $green , $lightgreen);
        }

    }

    &__text {
        padding: $spacing-standard;
    }
}

@keyframes fill-bar {
    from {
        background-position: 100%;
    }
    
    to {
        background-position: 0;
    }
}

@keyframes show-img {
    from {
        opacity : 0;
    }
    
    to {
        opacity : 1;
    }
}

.current-query {

    flex-grow: 1;
    align-items: center;

    position: relative;

    justify-content: center;

    @include resp(tablet) {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .row__item {
        font-size: 120%;
        letter-spacing: 3px;
        text-shadow: 2px 2px 3px $black;
        
        &:not(:last-child){
            margin-right: $spacing-standard;

            @include resp(tablet) {
                margin-right: 0;
            }
        }
    }

    &__separator {
        &::after {
            content: '\00BB' ;
            display: block;
            font-size: 5rem;
            
            @include resp(tablet) {
                transform: rotate(90deg);
                position: relative;
                left: .6rem;    // fix alignment
            }
        }
    }

    &__bg-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -5;
        transition-timing-function: linear;
        opacity: 0;

        &--running {
            animation-name: show-img;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
        }
    }
}

.background {

    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: -200;
    background-color: $white;
    opacity: 0;

    &--running {
        animation-name: show-img;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }

}


.error-message {

    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50% , -50%);

    width: calc(100% - 2 * #{$spacing-standard});

    max-width: $content-width / 2;

    padding: $spacing-standard;
    
    @include resp(tablet) {
        padding: $spacing-small;
    }
    
    background-color: rgba($white , .5);
    
    &__text {
        text-align: center;
        line-height: 4rem;
        font-size: 2rem;
        letter-spacing: 2px;
        
        &::before {
            content: 'Error: ';
        }
    }
}
