.radio-select {
    
    order: 1;
    justify-content: flex-start;

    @include resp(tablet) {
        order: 0;
    }

    &__label {
        margin-left: $spacing-small;
    }
    
    &__option {
        line-height: 1.5 * $font-size-default;

        &:not(:last-child) {
            margin-right: $spacing-big;
        }
    }

}

.countdown {

    &__box {
        flex-wrap: wrap;
    }

    &__bar {

        height: 3rem;
        line-height: 3rem;
        width: 100%;
        
        border-radius: $border-radius-standard;
        
        background-image: linear-gradient(to right , $red 50%, $lightgray 50%);;
        background-size: 200%;
        background-position: 100%;

        &--running {
            animation-name: fill-bar;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
        }

        &--complete {
            background-image: linear-gradient(to right, $green , $lightgreen);
        }

    }

    &__text {
        padding: $spacing-standard;
    }
}

@keyframes fill-bar {
    from {
        background-position: 100%;
    }
    
    to {
        background-position: 0;
    }
}

@keyframes show-img {
    from {
        opacity : 0;
    }
    
    to {
        opacity : 1;
    }
}

.current-query {
        flex-grow: 1;
        align-items: center;

        position: relative;

        @include resp(tablet) {
            flex-direction: column;
            justify-content: space-evenly;
        }

        &__separator {
            &::after {
                content: '\00BB' ;
                display: block;
                opacity: .5;
                font-size: 5rem;
                
                @include resp(tablet) {
                    transform: rotate(90deg);
                    position: relative;
                    left: .6rem;    // fix alignment
                }
            }
        }

        &__bg-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -5;
            transition-timing-function: linear;
            opacity: 0;


            // &--invisible {
                // opacity: 0;
            // }

            &--running {
                // opacity: 1;
                animation-name: show-img;
                animation-timing-function: linear;
                animation-fill-mode: forwards;
            }

        }
}

.btn {
    @include standard-typography;
    padding: $spacing-small $spacing-standard;
    font-size:$font-size-small;
}

select {
    @include standard-typography;
    padding: $spacing-tiny $spacing-small;
    font-size:$font-size-small;
    height: 4rem;
}

.error-message {
    position: fixed;
    top: 50%;

    left: 50%;
    transform: translate(-50% , -50%);

    width: 100%;
    max-width: $content-width / 2;
    padding: $spacing-standard;

    @include resp(tablet) {
        padding: $spacing-small;
    }

    background-color: white;
}
