.inner-content  {
    min-height: 100vh;    
    max-width : $content-width;
    margin: auto;

    padding: $spacing-big $spacing-standard;

    @include resp(tablet){
        padding: $spacing-standard $spacing-small;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;

    &__heading {
        margin-bottom: $spacing-small;
        flex: 0 0 100%;

        + * {
            flex: 0 0 100%;
        }
    }

    &__item {

        display: flex;
        justify-content: center;
        flex-wrap: wrap;


        @mixin row-item-full {            
            flex: 0 0 100%;
            margin-top: $spacing-standard;
            & > .btn {
                flex: 0 0 100%;
            }
        }

        &--full {
            @include row-item-full;
        }

        &--full-on-mobile {
            @include resp(tablet){
                @include row-item-full;
            }
        }

        &--half-on-mobile  {

            @include resp(tablet){

                flex: 0 0 calc((100% - #{$spacing-standard}) / 2);

                &:first-child {
                    margin-right: $spacing-standard;
                }

                > * {
                    width: 100%;
                }
            }
        }

    }

    &:not(:last-child) {
        margin-bottom: $spacing-standard;
    }

}