.inner-content  {
    min-height: 100vh;    
    max-width : $content-width;
    margin: auto;
    padding: $spacing-big $spacing-standard;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;

}